@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-text-color: #2F1F2B;
    --yellow-color: #FCB677;
    --dark-yellow-hover: #FA8F2E;
    --pink-color: #EF8C86;
    --light-pink-hover: #FFECEA;
    --purple-color: #826782;
    --light-purple-hover: #A68FA6;
    --blue-color: #05779e;
    --light-blue-hover: #D9E3E9;
    --border-color: #E8E6E6; 
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background: #FAFAFA;
}

/* ==========
Typography
========== */

h1,
h2,
h3 {
    font-family: 'Space Mono', monospace;
    text-transform: lowercase;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: .3em;
}

.latest-header {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2em;
}

.post-preview {
    margin-bottom: 1.3em;
}

.date {
    font-size: .8rem;
    color: #DAD2CB;
    margin-bottom: .6em;
}

.subscribe-blurb {
    margin-bottom: 1em;
}

a {
    color: var(--purple-color);
    text-decoration: none;
    transition: .2s ease;
}

a:hover {
    color: var(--main-text-color);
}

/* ==========
Utilities
========== */

.btn {
    position: relative;
    display: inline-block;
    padding: .4em 1em;
    z-index: 1;
    color: var(--main-text-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.learning-btn:before,
.resources-btn:before,
.motivation-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--pink-color);
    border-radius: 10px;
    width: 10px;
    height: 100%;
    z-index: -1;
    transition: .5s ease-in-out;
}

.learning-btn:hover:before,
.resources-btn:hover:before,
.motivation-btn:hover:before {
    width: 100%;
}

.resources-btn:before {
    background: var(--purple-color);
}

.motivation-btn:before {
    background: var(--blue-color);
}

.prev-posts-btn {
    border: #E8E6E6;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1em 1.4em;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.prev-posts-btn a {
    color: var(--main-text-color);
    text-decoration: none;
}

.prev-posts-btn:hover {
    background: var(--yellow-color);
}

/* ==========
Layout
========== */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
}

.container-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

.container-header {
    display: flex;
    padding-bottom: 3em;
}

header,
footer {
    background: var(--yellow-color);
}

.container-blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
    margin-top: 2.5em;
}

.blog-post {
    position: relative;
}

.container-blog-post {
    padding: 2em 0;
}

.learning-post:before {
    content: "";
    position: absolute;
    top: -10;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
    border: 1px solid var(--pink-color);
    background: var(--pink-color);
    transition: .5s ease-in-out;
}

.resources-post:before {
    content: "";
    position: absolute;
    top: -10;
    right: 20px;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
    border: 1px solid var(--purple-color);
    background: var(--purple-color);
    transition: .5s ease-in-out;
}

.motivation-post:before {
    content: "";
    position: absolute;
    top: -10;
    right: 20px;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
    border: 1px solid var(--blue-color);
    background: var(--blue-color);
    transition: .5s ease-in-out;
}

/* animate the colored boxes behind blog cards */
.learning-post:hover:before,
.resources-post:hover:before,
.motivation-post:hover:before {
    transform: translate(5px, 5px);
}

.container-footer {
    padding: 3em 0;
    text-align: center;
    width: 70%;
    max-width: 540px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1em;
}

li {
    margin-left: 1em;
    padding-left: .8em;
}

/* ==========
Nav
========== */

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 15px;
}

.nav-links li {
    padding: 0 1em;
}

.nav-links a {
    color: var(--main-text-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;    
}

.nav-links a:hover {
    color: #FAFAFA;
    border-bottom: 1px solid #fff;
    padding-bottom: .3em;
}

.logo {
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 3px;
}

.subtitle {
    font-size: .62rem;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    text-align: center;
    color: var(--blue-color);
    margin: 0;
}

/* ==========
Header
========== */

.title {
    margin: auto;
    max-width: 900px;
    text-align: center;
    font-family: 'Space Mono', monospace;
}

hr {
    border: 2px solid #fff;
    width: 35px;
    margin: 10px auto;
}

/* ==========
Blog
========== */

.first-header hr,
.container-footer hr {
    border: 2px solid #000;
    width: 35px;
    margin: 10px auto;
}
.blog-post {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.4);
    background: #fff;
    padding: 1.2em;
    line-height: 1.7;
}

.tag {
    display: inline;
    border-radius: 20px;
    padding: .3em .7em;
    font-size: .8rem;
    text-transform: lowercase;
}

.learning-tag {
    border: .8px solid var(--pink-color);
    color: var(--pink-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.learning-tag:hover {
    background: var(--light-pink-hover);
}

.resources-tag {
    border: .8px solid var(--purple-color);
    color: var(--purple-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.resources-tag:hover {
    background: var(--light-purple-hover);
    color: #fff;
}

.motivation-tag {
    border: .8px solid var(--blue-color);
    color: var(--blue-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.motivation-tag:hover {
    background: var(--light-blue-hover);
}

.prev-posts {
    display: flex;
    justify-content: flex-end;
    margin: 3em auto;
}

.post {
    line-height: 1.7;
}

/* ==========
Footer
========== */

@keyframes shake {
    0% {
        transform: translate3d(0, 0, 0);
       }
    
       10%, 90% {
           transform: translate3d(-1px, 0, 0);
       }
    
       20%, 30%, 80% {
           transform: translate3d(2px, 0, 0);
       }
    
       50% {
           transform: translate3d(-3px, 0, 0);
       }
    
       40%, 60%, 70% {
           transform: translate3d(3px, 0, 0);
       }
}

.fa-envelope:hover,
.social-media>a:hover {
    animation: shake .5s;
    animation-iteration-count: infinte;
}
input[type=text],
input[type=email],
input[type=submit] {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    outline: none;
    padding: 20px;
    margin: 5px;
    letter-spacing: 1px;
}

input[type=submit] {
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background: var(--pink-color);
    border: 1px solid var(--pink-color);
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
}

input[type=submit]:hover {
    background: #E64D44;
    border: #E64D44;
}

.social-media a {
    color: var(--main-text-color);
}

.social-media i {
    cursor: pointer;
    transition: .3s ease-out;
}

.social-media i:hover {
    color: var(--blue-color);
}