@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-text-color: #2F1F2B;
    --yellow-color: #FCB677;
    --pink-color: #EF8C86;
    --purple-color: #685268;
    --blue-color: #034C65; 
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

h1,
h2 {
    font-family: 'Encode Sans', sans-serif;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.5rem;
}

/* ==========
Nav
========== */
.navbar {
    background: var(--yellow-color);
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em 5em;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    list-style: none;
}

.nav li {
    padding: 0 1em;
}

.nav a {
    color: var(--main-text-color);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;    
}

.logo {
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}