@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-text-color: #2F1F2B;
    --yellow-color: #FCB677;
    --pink-color: #EF8C86;
    --light-pink-hover: #FFECEA;
    --purple-color: #685268;
    --blue-color: #034C65;
    --border-color: #E8E6E6; 
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

h1,
h2 {
    font-family: 'Space Mono', monospace;
    text-transform: lowercase;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: .3em;
}

.post-preview {
    margin-bottom: 1.3em;
}

.date {
    font-size: .8rem;
    color: #DAD2CB;
    margin-bottom: .6em;
}

/* ==========
Utilities
========== */
.btn {
    color: var(--main-text-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: .4em 1em;
    font-weight: 600;
    display: relative;
    display: inline-block;
}

.learning-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--pink-color);
    border-radius: 10px;
    width: 10px;
    height: 100%;
    z-index: -1;
    transition: .5s ease-in-out;
}

.learning-btn:hover:before {
    width: 100%;
}


/* ==========
Layout
========== */
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .8em 0;
}

.container-header {
    height: 50vh;
    display: flex;
}

header {
    background: var(--yellow-color);
}

.container-blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
    margin-top: 2.5em;
}

.post {
    position: relative;
}

.learning-post:before {
    content: "";
    position: absolute;
    top: -10;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
    border: 1px solid var(--pink-color);
    background: var(--pink-color);
}

/* ==========
Nav
========== */

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 15px;
}

.nav-links li {
    padding: 0 1em;
}

.nav-links a {
    color: var(--main-text-color);
    text-decoration: none;
    text-transform: uppercase;    
}

.logo {
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 3px;
}

.subtitle {
    font-size: .65rem;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    text-align: center;
    color: var(--blue-color);
    margin: 0;
}

/* ==========
Header
========== */
.title {
    margin: auto;
    max-width: 900px;
    text-align: center;
    font-family: 'Space Mono', monospace;
}

hr {
    border: 2px solid var(--blue-color);
    width: 35px;
    margin: 10px auto;
}

/* ==========
Blog
========== */
.post {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.4);
    background: #fff;
    padding: 1.2em;
    line-height: 1.7;
}

.tag {
    display: inline;
    border-radius: 20px;
    padding: .3em .7em;
    font-size: .8rem;
    text-transform: lowercase;
}

.learning-tag {
    border: .8px solid var(--pink-color);
    color: var(--pink-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.learning-tag:hover {
    background: var(--light-pink-hover);
}